<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>RDR</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>RDR</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="/instance/{{.CurrentInstance}}" class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="hidden-xs"> {{ .CurrentInstance }}</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ .UserName }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>